<form action="/users/login" method="POST" class="form clearfix">
    <div class="field">
        <div class="control">
            <label class="label">Username
                <input class="input" name="username" type="text" placeholder="Username"/>
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Password
                <input class="input" name="password" type="password" placeholder="Password"/>
            </label>
        </div>
    </div>
    <button class="button is-primary" type="submit">Login</button>
</form>

<h3><a href="/users/register">Create an Account</a></h3>